/* Шапка сторінки */

.header__container {
    display: flex;
    align-items: center;
}


.header {
    background-color: var(--background-color);
    outline: 1px solid #ECECEC;
}


/* Навігація на інші сторінки */

.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    margin-left: 93px;
}

.nav__item {
    &:not(:last-child) {
    margin-right: 50px;
    }   
}

.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
    color: var(--accent-color);
}

    transition: color var(--anim);
}

/* АКЦЕНТНІ ЛІНІЇ */


.nav__link--current {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--accent-color);

    &::before {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    
    background-color: var(--accent-color);
    border-radius: 2px;
 }
}






